{% extends 'base_generic.html' %}

<style>

    .form-control {
        background-color: #ffffff !important;
        color: #fff;
        border: 1px solid #555;
    }

    .search-input {
        background-color: #ffffff;
        color: #fff;
        border: 1px solid #555;
        padding: 10px;
        border-radius: 5px;
        font-size: 1rem;
        transition: all 0.3s ease;
    }

    .search-input::placeholder {
        color: #bbb;
    }

    .search-input:focus {
        background-color: #444;
        border-color: #888;
        outline: none;
    }

    .search-input:focus::placeholder {
        color: #ddd;
    }
</style>

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-dark">Добро пожаловать на платформу вакансий</h1>
    <p class="text-center text-dark">Найдите свою работу мечты или стажировку сегодня!</p>

    {% if message %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endif %}

    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <form method="GET" action="{% url 'home' %}" class="d-flex">
                <input type="text" class="form-control search-input" placeholder="Ищите вакансии" name="search" aria-label="Поиск" value="{{ search }}">
                <select class="form-select ms-2" name="sort">
                    <option value="">Без фильтра</option>
                    <option value="salary_min" {% if sort == 'salary_min' %}selected{% endif %}>Сортировать по зарплате (по возрастанию)</option>
                </select>

                <button class="btn btn-primary ms-2" type="submit">Поиск</button>
            </form>
        </div>
    </div>

    <div class="row">
        {% for vacancy in vacancies %}
            <div class="col-md-4 mb-4">
                <div class="card" style="background-color: #444; border: 1px solid #555;">
                    <div class="card-body">
                        <h5 class="card-title text-light">{{ vacancy.title }}</h5>
                        <p class="card-text text-light">{{ vacancy.description|truncatewords:20 }}</p>
                        <p class="text-light"><strong>Зарплата:</strong> {{ vacancy.salary_min }} — {{ vacancy.salary_max }} {{ vacancy.currency }}</p>
                        {% if role == 'student' %}
                            <a href="{% url 'vacancy_detail' vacancy.id %}" class="btn btn-primary">Подать заявку</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center text-light">Вакансий не найдено.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
