{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Добро пожаловать на платформу вакансий</h1>
    <p class="text-center">Найдите свою мечту-работу или стажировку сегодня!</p>

    {% if message %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% else %}
        
        <div class="row justify-content-center mb-4">
            <div class="col-md-8">
                <form method="GET" action="#" class="d-flex">
                    <input type="text" class="form-control" placeholder="Ищите вакансии" name="search" aria-label="Поиск">
                    <button class="btn btn-primary ms-2" type="submit">Поиск</button>
                </form>
            </div>
        </div>

        
        <div class="row">
            {% for vacancy in vacancies %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ vacancy.title }}</h5>
                        <p class="card-text">{{ vacancy.description }}</p>
                        <a href="{% url 'vacancy_detail' vacancy.id %}" class="btn btn-primary">Подать заявку</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center">Вакансий не найдено.</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
