{% extends 'base_generic.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Личный кабинет</h2>
        
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-dark">Добро пожаловать, {{ user.username }}!</h5>
                <p class="card-text text-muted">Email: {{ user.email }}</p>
                <p class="card-text text-muted">О себе: {{ user.profile.bio }}</p>
                <p class="card-text text-muted">Локация: {{ user.profile.location }}</p>
                <p class="card-text text-muted">Роль: {{ user.profile.role }}</p>

                <hr class="my-4">

                <div class="d-flex justify-content-between">
                    <a href="{% url 'edit_profile' %}" class="btn btn-outline-secondary px-4">Изменить профиль</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger px-4">Выйти</a>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <h3 class="text-center mb-4">Календарь собеседований</h3>

        {% if interviews %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Вакансия</th>
                        <th>Дата собеседования</th>
                        <th>Детали</th>
                    </tr>
                </thead>
                <tbody>
                    {% for interview in interviews %}
                        <tr>
                            <td>{{ interview.vacancy_title }}</td>
                            <td>{{ interview.interview_date|date:"d.m.Y" }}</td>
                            <td><a href="{% url 'vacancy_detail' interview.vacancy_id %}" class="btn btn-secondary btn-sm">Подробнее</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center text-muted">У вас нет назначенных собеседований.</p>
        {% endif %}
    </div>
{% endblock %}
